# --------- pytorch --------- #
torch==2.6.0
torchvision==0.21.0
lightning==2.5.0
torchmetrics==0.11.4
torcheval

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- data --------- #
pandas
matplotlib
seaborn
scikit-learn
wfdb
opencv-python

# RAG
langchain-chroma
langchain-huggingface
langchain-core

# --------- model --------- #
timm==1.0.9
transformers
deepspeed
sentence-transformers

# --------- loggers --------- #
wandb

# --------- others --------- #
ipykernel
rootutils       # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich==13.9.2            # beautiful text formatting in terminal
# sh            # for running bash commands in some tests (linux/macos only)
Unidecode
inflect